- content_for :head do

  :css
    form {
      display: none;
    }
.span12
  %h1 The Marlowe Project
  %p
    Marlowe is meant to be a workspace for experimenting with visualizing and interacting with web transaction data
    using D3.  For more information, refer to the
    %a{href: "http://github.com/newrelic/marlowe"}
      Project Readme file.
  %h3 Experiments
  %p
    The experiments are all accessible via the nav bar.  They include:
  %ul
    %li
      %a{href:"datasets/histogram.html"}
        Histogram/heatmap demo
    %li
      %a{href:"datasets/threeway.html"}
        Treemap experiment
    %li
      %a{href:"datasets/horizon.html"}
        Using a horizon chart to breakdown the response times
    %li
      %a{href:"datasets/quartiles.html"}
        Experiment with estimating middle quartiles
    %li
      %a{href:"datasets/traffic.html"}
        Fun animation of application traffic

