
%body
  %ul
    %li
      %a{href:"datasets/threeway.html"}
        Interactive Timeseries/Histogram/Treemap
    %li
      %a{href:"datasets/summaryplots.html"}
        Survey of summary measures (arithmetic, geometric, percentiles...)

