!!!
%html
  %head
    -# script{type: 'text/javascript', src:"http://d3js.org/d3.v3.js"}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}
    %script{type: 'text/javascript', src:"/d3.js"}
    %script{type: 'text/javascript', src: "/data.js"}
    %link{type: 'text/css', rel: 'stylesheet', href: '/css/plots.css'}
    %link{type: 'text/css', rel: 'stylesheet', media: 'screen', href: '/css/bootstrap.min.css'}
    :css
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    %link{type: 'text/css', rel: 'stylesheet', media: 'screen', href: '/css/bootstrap-responsive.css'}
    = yield_content :head

%body
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        %button.btn.btn-navbar{type:"button", 'data-toggle'=>"collapse", 'data-target'=>".nav-collapse"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.brand{href:"http://github.com/newrelic/marlowe"} Marlowe
        .nav-collapse.collapse
          %ul.nav
            %li{class: (params[:view] == "threeway" ? 'active' : nil)}
              %a{href:"/datasets/threeway.html"} Treemap Demo
            %li{class: (params[:view] == "summaryplots" ? 'active' : nil)}
              %a{href:"/datasets/summaryplots.html"} Summary Plots Demo
            %li{class: (params[:view] == "horizon" ? 'active' : nil)}
              %a{href:"/datasets/horizon.html"} Horizon Plots Demo
            %li
              %a{href:"/about.html"} About
  .container
    %form.form-horizontal{method: 'get', onsubmit: 'return refreshData();'}
      .span-row
        .span4
          .control-group#yMaxGroup
            %label.control-label y max
            .controls
              %input{id: 'y_max', type: 'text', size: 6, name: 'y_max' }
          .control-group#densityGroup
            %label.control-label scatter plot density
            .controls
              %input{id: 'density', type: 'text', size: 6, name: 'density', value: @density }
          .control-group#apdexTGroup
            %label.control-label apdex T
            .controls
              %input{id: 'apdex_t', type: 'text', size: 6, name: 'apdex_t', value: @apdex_t }
        .span4
          .control-group
            %label.control-label dataset
            .controls
              %select{id: 'filename', name: 'filename', size: 1, onchange: 'refreshData();'}
                - @files.each do |filename|
                  %option{value: filename, selected: @file == filename}
                    = filename
              &nbsp;
              %label.radio.inline
                %input#enduser{type: 'radio', name: 'value_index', value: 3, onchange: 'refreshData();'}
                end user
              %label.radio.inline
                %input#appserver{type: 'radio', name: 'value_index', value: 4, onchange: 'refreshData();'}
                app server

          .control-group
            %label.control-label filter
            .controls
              %select{id: 'filter', name: 'filter', size: 1, onchange: 'refreshData();'}
                %option{value: '', selected: @filter_label.nil?}          
                  All
                - @top10.each do |transaction|
                  %option{value: transaction, selected: transaction == @filter_label}
                    = transaction
              &nbsp;
              %label.radio.inline
                %input#only{type: 'radio', name: 'only', value: "1", onchange: 'refreshData();'}
                only
              %label.radio.inline
                %input#except{type: 'radio', name: 'only', value: "0", onchange: 'refreshData();'}
                except
          .control-group
            .controls
              %button.btn{type: 'submit'} Submit
  .container
    = yield

  %script{type: 'text/javascript', src: "http://code.jquery.com/jquery.js"}
  %script{type: 'text/javascript', src: "/js/bootstrap.min.js"}

  :javascript
    d3.select("input#y_max").attr("value", $data.yMax);
    d3.select("input#density").attr("value", $data.density);
    d3.select("input#apdex_t").attr("value", $data.apdex_t);

